body {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Combo', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  background-color: #226F54;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 700px;
  background-color: #226F54;
  text-align: center;
  margin: 30px;
}

img {
  height: 400px;
  width: 80%;
  border-radius: 20%;
  border: 5px solid #F4F0BB;
}

video {
  height: 500px;
  width: 95%;
}

section > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title,
section > p {
  color: #F4F0BB;
  letter-spacing: 3px;
}
