body {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Combo', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  background-color: #226F54;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 700px;
  background-color: #226F54;
  text-align: center;
  margin: 30px;
}

img {
  height: 400px;
  width: 80%;
  border-radius: 20%;
  border: 5px solid #F4F0BB;
}

video {
  height: 500px;
  width: 95%;
}

section > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 35px;
}

#title,
section > p {
  color: #F4F0BB;
  letter-spacing: 3px;
}

.buttons {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Combo', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 45px;
  box-shadow: 2px 5px 9px #F4F0BB;
}

.buttons:hover {
  box-shadow: 2px 5px 9px #DA2C38;
  transform: translateY(-7px);
}

#resetBtnDiv,
#randoAcePicBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #title {
    font-size: 55px;
  }

  section > p {
    font-size: 24px;
  }

  img {
    width: 80vh;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    font-size: 20px;
  }

#notHiddenBtns {
  padding: 0;
}

  .resetBtnDiv {
    padding-bottom: 2px;
  }
  .randoAcePicBtnDiv {
    padding-top: 2px;
  }
}