body {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Combo', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  background-image: linear-gradient(#226F54, #87C38F);
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-size: cover;
  background-image: linear-gradient(#226F54, #87C38F);
  text-align: center;
  margin: 30px;
  padding-bottom: 80px;
}

img {
  display: flex;
  flex-grow: 4;
  height: 50vh;
  border-radius: 50px;
  border: 5px solid #F4F0BB;
}

video {
  height: 50vh;
}

section > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 35px;
}

#title,
section > p {
  color: #F4F0BB;
  letter-spacing: 3px;
}

.buttons {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-family: 'Combo', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border-radius: 45px;
  box-shadow: 2px 5px 9px #F4F0BB;
}

.buttons:hover {
  box-shadow: 2px 5px 9px #DA2C38;
  transform: translateY(-3px);
}

#resetBtnDiv,
#randoAcePicBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  main {
    display: grid;
    text-align: left;
    grid-template-columns: 2;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas: 
      "title p"
      "img p"
      "img button1"
      "img button2";
  }

  #title {
    font-size: 55px;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  section {
    display: flex;
    justify-content: center;
    align-self: center;
    grid-area: p;
    font-size: 24px;
    grid-column-start: 2;
    margin: 0;
    padding: 50px;
  }

  #button1Div {
    display: flex;
    flex-direction: row;
    grid-area: button1;
    font-size: 20px;
    max-height: 40px;
    margin-top: 0;
  }
  #button2Div {
    display: flex;
    flex-direction: row;
    grid-area: button2;
    font-size: 20px;
    max-height: 40px;
    margin-top: 0;
  }

  img {
    grid-area: img;
    height: 70vh;
    max-width: 90vh;
    margin: auto;
  }

  #video {
    grid-row-start: 2;
    grid-area: img;
  }
}