body {
  margin: 0;
  background-color: #226F54;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 700px;
  background-color: #226F54;
  text-align: center;
}

img {
  height: 80%;
  width: 80%;
  border-radius: 20%;
  border: 5px solid #F4F0BB;
}

video {
  height: 500px;
  width: 95%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}